<div class="container">
	<div class="row">
			<div class="col-6" *ngFor="let product of products"> 
				<div class="col-4 product-container text-center">
					<a routerLink='/products/{{product.id}}'>
						<img src={{product.url}} alt="" class="product-image">
						<h3 class="">{{product.name}}</h3>
					</a>
						<p class="">Qty: {{product.qty | number}}</p>
						<p class="">{{product.price | currency}}</p>
						<button (click)="removeItemFromCart(product)">Remove Product (X)</button>
				</div>
			</div>
			<h2>TOTAL COST IN CART: {{totalPrice | currency}}</h2>
			<div class="col-6 other-cart-container float-right">
				<form #form="ngForm" (ngSubmit)="submitForm()" action="">
					<div class="form-group">
						<label for="Full name">Full Name</label><br>
						<input type="text" required class="form-control" name="Full name" required minlength="3" placeholder="(Minimum 3 characters)" [(ngModel)] = "fullname" maxlength="50" #fullnameField="ngModel"><br>
						<div *ngIf="fullnameField.errors?.['minlength']">
							Fullname must contain at least 6 characters.
						  </div>
					</div>
					<div class="form-group">
						<label for="Address">Address</label><br>
						<input type="text" required class="form-control" name="Address" required minlength="6" placeholder="(Minimum 6 characters)" [(ngModel)] = "address" maxlength="50" #addressField="ngModel"><br>
					</div>
					<div *ngIf="addressField.errors?.['minlength']">
						Address must contain at least 6 characters.
					  </div>
					<input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-success">
				</form>
			</div>
		</div>	
</div>